<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="" name="Keywords" />
        <meta content="" name="Description" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base target="_blank" /> -->
      <link href="{$Think.const.BOOT_URL}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
      <link href="{$Think.const.CSS_URL}style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{$Think.const.BOOT_URL}js/jquery.js"></script>
		<script type="text/javascript" src="{$Think.const.BOOT_URL}js/bootstrap.js"></script>
        <title>快递公司管理</title>
    </head>
	<style>
		.table tr td,
		.table tr th{
			text-align:center;
		}
	</style>
    <body>
        <form action="" method="post">
			<div class="head">
				<!--模版表达式的定义规则为：模块@主题/控制器/操作 -->
				<include file="Public/head" />
			</div>
			<div class="row">
				<div class="navside col-md-2">
					<include file="Public/navside" />
				</div>
				<div class="article col-md-10">
					<table class="table table-bordered table-condensed table-striped">
					<tr>
						<th width=100>编号</th>
						<th width=600>快递公司</th>
						<th width=600>更改</th>
						<th width=150>状态</th> 
					</tr>
					<volist name="datalist" id="vo">
					<tr>
						<td>{$vo.expcompany_id}</td>
						<td>{$vo.expcompany_name}</td>
						<td><a href="__MODULE__/BaseParameter/expCompanyUpdate/eid/{$vo.expcompany_id}">更改</a></td>
						<td>
							<a href="__MODULE__/BaseParameter/expCompanyDel/sid/{$vo.expcompany_id}">
								 <if condition="$vo.status eq 1">
									可用
									<else />
									不可用
								</if> 
							</a>
						</td>
					</tr>
					</volist>
					</table>
					<a href="__MODULE__/BaseParameter/expCompanyAdd" class="btn bcm tcw w4 mt20">添加</a>
				</div>
			</div>
			<div class="foot">
				<include file="Public/foot" />
			</div>
        </form>
    </body>
</html>