<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="" name="Keywords" />
        <meta content="" name="Description" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base target="_blank" /> -->
      <link href="{$Think.const.BOOT_URL}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{$Think.const.BOOT_URL}js/jquery.js"></script>
		<script type="text/javascript" src="{$Think.const.BOOT_URL}js/bootstrap.js"></script>
        <title></title>
    </head>
    <body>
        <form action="__MODULE__" method="post">

        </form>
    </body>
</html>