<div class="w12">
	<a href="#homePage" data-toggle="collapse">首页</a>
	<ul id="homePage" class="collapse in">
		<li><a href="__APP__/Admin/Index/index" target="_self">后台首页</a></li>
		<li><a href="__APP__/Admin/Index/search" target="_self">数据分析</a></li>
	</ul>
	
	<a href="#userManage" data-toggle="collapse">用户管理</a>
	<ul id="userManage" class="collapse in">
		<li><a href="__APP__/Admin/UserManage/userlist" target="_self">用户列表</a></li>
	</ul>

	<a href="#orderManage" class="nav-header" data-toggle="collapse">订单管理</a>
	<ul id="orderManage" class="collapse in">
		<li><a href="__APP__/Admin/OrderManage/orderlist" target="_self">取货订单</a></li>
		<li><a href="__APP__/Admin/OrderManage/cendlist" target="_self">送货订单</a></li>
		<li><a href="__APP__/Admin/OrderManage/lcendlist" target="_self">情侣代寄</a></li>
		<li><a href="__APP__/Admin/OrderManage/glist" target="_self">组团代寄申请</a></li>
		<li><a href="__APP__/Admin/OrderManage/defunctlist" target="_self">失效订单</a></li>
	</ul>
	
	<a href="#messageManage" class="nav-header" data-toggle="collapse">留言管理</a>
	<ul id="messageManage" class="collapse in">
		<li><a href="__APP__/Admin/MessageManage/messagelist" target="_self">用户留言</a></li>
	</ul>
	
	<a href="#baseParameter" class="nav-header" data-toggle="collapse">基本参数</a>
	<ul id="baseParameter" class="collapse in">
		<li><a href="__APP__/Admin/BaseParameter/expCompany" target="_self">快递公司</a></li>
		<li><a href="__APP__/Admin/BaseParameter/serverlist" target="_self">服务类型</a></li>
		<li><a href="__APP__/Admin/BaseParameter/addressConfig" target="_self">地址配置</a></li>
		<li><a href="__APP__/Admin/News/index" target="_self">消息设置</a></li>
	</ul>
	</ul>
</div>
