<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="" name="Keywords" />
        <meta content="" name="Description" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base target="_blank" /> -->
      <link href="{$Think.const.BOOT_URL}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
      <link href="{$Think.const.CSS_URL}style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{$Think.const.BOOT_URL}js/jquery.js"></script>
		<script type="text/javascript" src="{$Think.const.BOOT_URL}js/bootstrap.js"></script>
        <block name="title"></block>
        <block name="heads"></block>
		<style>
		.div_one{
		display:block;
		position:relative;
		border-bottom:1px solid #eee;
		}
		.div_one span:first-child{
		color:#44B549;
		}
		.a_one{
			display:inline-block;
			margin-left:20px;
			color:#999;
			text-decoration:none;
		}
		.span_one{
		display:inline-block;
		position:absolute;
		right:1%;
		color:#44B549;
		}
		</style>
    </head>
    <body>
        <form action="" method="post">
			<input type="button" onclick="javascript:history.back(-1);" value="&laquo;" class="back tcm" />
			<div class="w11 center-block">
				<block name="content"></block>
			</div>
        </form>
    </body>
</html>